---
---

<!DOCTYPE html>
<html>
	<head>
		<title>{{page.event.title}} | {{page.event.date}} | {{page.event.time}}</title>

		<meta property="og:type" content="article">
		<meta property="og:url" content="{{page.base-url}}">
		<meta property="og:image" content="{{page.shareimage}}">
		<meta property="og:title" content="{{page.event.title}}, {{page.event.date}}">
		<meta property="og:site_name" content="{{page.event.title}}">
		<meta property="og:description" content="{{page.event.description}}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{{page.title}}">
		<meta name="twitter:description" content="{{page.description}}">
		<meta name="twitter:image" content="{{page.shareimage}}">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/{{site.assets_dir}}{{site.css_dir}}bootstrap-3.1.0.min.css">
		<link rel="stylesheet" href="/{{site.assets_dir}}{{site.css_dir}}font-awesome-4.0.3.min.css">
		<link rel="stylesheet" href="/{{site.assets_dir}}{{site.css_dir}}opensans.css">
		<link rel="stylesheet" href="/{{site.assets_dir}}{{site.css_dir}}style.css">
		<link rel="stylesheet" href="/{{site.assets_dir}}{{site.css_dir}}vegfest-research-2016-style.css">

		<script src="/assets/{{ site.js_dir }}jquery-1.10.1.min.js"></script>
		<script src="/assets/{{site.js_dir}}bootstrap-3.1.0.min.js"></script>

	</head>
	<body>
		<div class="container-fluid" id="top-heading">
			<header class="row" id="research-header">
				<span id="research-report-box">
					Research Report
				</span>
				<h1>Veg Food Festivals</h1>
				<h2 style="color: #404040;">Key Factors in Successful</h2>
				<h3>Organizing</h1>
				<div class="row">
					<div class="col-sm-offset-1 col-sm-10" >
						<p>
							Through in-depth interviews with veg food fest organizers across North
							America, this emerging research illuminates the elements that lead to
							a successful vegan event. This practical study invites organizers to
							learn from the common challenges that their peers have encountered
							and overcome.
						</p>
					</div>
				</div>
			</header>

			<section class="row red-veg-pattern-background" id="ask" style="padding-bottom: 15%;">

			</section>
			<section class="row " style="padding-bottom: 15%;">
				<section style="background-color: lightgrey; padding: 20px">

					{% assign blogPosts = site.posts | where: 'category', 'research2016' %}
					<h1>Table of Contents</h1>
					<ul>
						{% for post in blogPosts %}
							<li><a href="#{{post.slug}}">{{post.title}}</a></li>
						{% endfor %}
					</ul>

					{% for post in blogPosts %}
						<a name="{{post.slug}}"></a><h1>{{post.title}}</h1>
						<p>
						{{post.content}}
						</p>
					{% endfor %}

				</section>

			</section>

		</div>

		<footer class="hidden yellow-veg-pattern-background">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-2">
						<img src="/{{site.assets_dir}}{{site.img_dir}}VegFest-logo-black-sm.png" class="img-responsive" style="padding-top:10px;" />
					</div>
				</div>
			</div>
		</footer>


    <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{site.google_analytics_token}}', 'auto');
			ga('send', 'pageview');
		</script>

    {% if page.showprogressbar %}
    <script>
		$(document).ready(function() {
				/* get the current number of signatures and update the html of the page */
				$.getJSON( "https://signature-data-backend.herokuapp.com", function( data ) {
					$('#petition-count').html(data.totalCount);
				});

				/* show the progress bar when someone scrolls */
				$(window).scroll( function () {
					$('#signature-progress').show()
					$('.progress .progress-bar').progressbar();
					});
		});
		</script>
    {% endif %}

	</body>
</html>
